
    <div class="ui menu  grid">
      <div class="three wide column left">
     <img src="/public/img/alirim.png" class="" width="237px" height="88px" alt="">
    </div>
      
       
          <div class="ui category search item six wide column center ">
            <div class="ui transparent icon input parent-search ">
              <input id="search" class="prompt" type="text" placeholder="Ürün, marka, kategori veya mağaza ara ">
              <i style="margin-right: 10px;" class="search link icon"></i>
            </div>
            <div id="result"  class="ui  placeholder search-result ">
                <p>Sonuçlar</p>
                <div class="paragraph">
                    <div class="full line"></div>
                    <div class="medium line"></div>
                  </div>
              </div>
          </div>
          
       
      
      
      <div class="right menu four wide column">
      <a class="item ">
        <i class="shopping cart icon"></i>
       Sepetim
      </a>
      
    </div>
    </div>