
<footer  class="bg-dark text-white">
<div class="container py-4">
  <div class="row py-5">
    <div class="col-md-4 mb-3 mb-md-0">
      <h6 class="text-uppercase mb-3">Müşteri Hizmetleri</h6>
      <ul class="list-unstyled mb-0">
        <li><a class="footer-link" href="#">Yardım &amp; İletişim</a></li>
        <li><a class="footer-link" href="#">İadeler &amp; Geri Ödemeler</a></li>
        <li><a class="footer-link" href="#">Çevrimiçi Mağazalar</a></li>
        <li><a class="footer-link" href="#">Koşullar &amp; Şartlar</a></li>
      </ul>
    </div>
    <div class="col-md-4 mb-3 mb-md-0">
      <h6 class="text-uppercase mb-3">Şirket</h6>
      <ul class="list-unstyled mb-0">
        <li><a class="footer-link" href="#">Ne Yapıyoruz</a></li>
        <li><a class="footer-link" href="#">Mevcut Hizmetler</a></li>
        <li><a class="footer-link" href="#">Son Gönderiler</a></li>
        <li><a class="footer-link" href="#">SSS</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h6 class="text-uppercase mb-3">Sosyal Medya</h6>
      <ul class="list-unstyled mb-0">
        <li><a class="footer-link" href="#">Twitter</a></li>
        <li><a class="footer-link" href="#">Instagram</a></li>
        <li><a class="footer-link" href="#">Tumblr</a></li>
        <li><a class="footer-link" href="#">Pinterest</a></li>
      </ul>
    </div>
  </div>
  <div class="border-top pt-4" style="border-color: #1d1d1d !important">
    <div class="row">
      <div class="col-lg-6">
        <p class="small text-muted mb-0">&copy; 2021 Tüm hakları saklıdır.</p>
      </div>
      <div class="col-lg-6 text-lg-right">
        <p class="small text-muted mb-0">Development by <a class="text-white reset-anchor" target="_blank" href="https://ekremtinas.github.io">Ekrem Tınas</a></p>
      </div>
    </div>
  </div>
</div>
</footer>