  <div class="ui secondary  menu grid pointing menu-small">
      <div class="header item one wide column active">
        <i class="globe icon"></i>
        Genel
      </div>
      <a class="item  two wide column">
        <i class="list icon"></i>
        Siparislerim
      </a>
      <a class="item two wide column">
        <i class="cart arrow down icon"></i>
        Anketli Indirim
      </a>
      <a class="item two wide column">
        <i class="podcast icon"></i>
        Satıs Rehberi
      </a>
      <a class="item two wide column">
        <i class="question icon"></i>
        Çözüm Merkezi
       </a>

     
        <div class="ui simple dropdown item right four wide column">
            Giris Yap veya Kaydol
          <i class="dropdown icon"></i>
          <div class="menu menu-small" >
            <a href="/uLogin"><div class="item"><i class="sign in alternate icon"></i> Giris Yap</div></a>
            <div class="item"><i class="save icon"></i> Kaydol</div>
            <div class="item">Hesabım</div>
            <div class="item">Degerlendirmelerim</div>
            <div class="item">Begendiklerim</div>
            <div class="item">Listelerim</div>
            <div class="item">Hediye Çeklerim</div>
            <div class="item">Mesajlarım</div>
          </div>
        </div>
      
     
    </div>
