<header class="header bg-purple text-white  ">
  <div class="container px-0 px-lg-3">
    <nav  class="navbar navbar-expand-lg  py-3 px-lg-0">
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-3 ml-lg-0 text-justify  ">
          <li class="nav-item ">
            <!-- Link--><a class="nav-link active" href="/">Anasayfa</a>
          </li>
          <li class="nav-item">
            <!-- Link--><a class="nav-link" href="shop.html">Alışveriş</a>
          </li>
          <li class="nav-item">
            <!-- Link--><a class="nav-link" href="detail.html">Ürün Detayı</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="pagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sayfalar</a>
            <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
              <a class="dropdown-item border-0 transition-link" href="index.html">Anasayfa</a>
              <a class="dropdown-item border-0 transition-link" href="shop.html">Alışveriş</a>
              <a class="dropdown-item border-0 transition-link" href="detail.html">Ürün Detay</a>
              <a class="dropdown-item border-0 transition-link" href="cart.html">Sepet</a>
              <a class="dropdown-item border-0 transition-link" href="checkout.html">Ödeme</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-lg-auto ml-3  text-justify ">               
          <li class="nav-item"><a class="nav-link" href="cart.html"> <i class="fas fa-dolly-flatbed mr-1 text-gray"></i>Sepet<small class="text-gray">(2)</small></a></li>
          <li class="nav-item"><a class="nav-link" href="#"> <i class="far fa-heart mr-1"></i>Favoriler<small class="text-gray"> (0)</small></a></li>
          <li class="nav-item"><a class="nav-link" href="/uLogin"> <i class="fas fa-user-alt mr-1 text-gray"></i>Giriş</a></li>
          <li class="nav-item"><a class="nav-link" href="/uRegister"> <i class="fas fa-user-plus mr-1 text-gray"></i>Kayıt Ol</a></li>
        </ul>
      </div>
    </nav>
    <nav class="navbar text-center navbar-expand-lg mt-0  pt-0  row">
    <div class="col-lg-6">
      <a class="header-main-text col-lg-6 col-10 "  href="/"><span style="font-family:Cinzel Decorative !important;" class=" text-uppercase ">Alirim.com</span></a>
      <button  class="navbar-toggler col-2 navbar-toggler-right text-white " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
    </div>
    <div class="col-lg-6">
      <form class="navbar-brand col-lg-12 " action="#">
      <div class="input-group  row ">
        <input class="rounded-search-input p-md-3  form-control col-10 form-control-lg ml-1 p-4" type="search" placeholder="Arama" aria-describedby="button-search2">
        <div style="display: none;" class="search-results">
          <div class="linear-activity">
            <div class="indeterminate"></div>
          </div>
            <a class="dropdown-item border-0 transition-link mt-1" href="index.html">Result</a>
            <hr>
            <a class="dropdown-item border-0 transition-link" href="shop.html">Result 2</a>
          
          
          </div>
          <button class="rounded-search-btn btn btn-soft-red btn-block col-2" id="button-search2" type="submit"><i class="fa fa-search"></i></button>
        
      </div>
    </form>
    </div>
    </nav>
  </div>
</header>