<section class="py-5">
    <div class="container p-0">
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <h5 class="text-uppercase">ARKADAŞ OLALIM!</h5>
          <p class="text-small text-muted mb-0">Sadece işte değil, tarifte.</p>
        </div>
        <div class="col-lg-6">
          <form action="#">
            <div class="input-group flex-column flex-sm-row mb-3">
              <input class="form-control form-control-lg py-3" type="email" placeholder="Email Adresini Giriniz" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-dark btn-block" id="button-addon2" type="submit">Abone Ol</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>