<div class="login-container col-12  mt-3 mb-3 col-lg-12 mt-lg-5 mb-lg-5">
<img class="login-box-before" src="/public/img/wing2.png">
<form class="login-box" action="" method="post">
<div class="login-header">
    <h1>Giriş</h1>
</div>
<div class="login-content">
    <div class="txt-box">
        <input type="text" name="email" id="email" autocomplete="none" placeholder="E Mail">
    </div>
    <div class="txt-box">
        <input type="text" name="" id="password" placeholder="Şifre">
    </div>
    <div class="txt-box"> <input id="remember" type="checkbox" tabindex="0" class="hidden">
        <label for="remember" style="color: white;font-size: 12px;">Hatırla</label>
    </div>
</div>
<div class="login-footer">
    <button type="submit" class="login-button">Giriş</button>
</div>
</form>
<img class="login-box-after"  src="/public/img/wing3.fw.png">
</div>